<monitors version="2">
  <configuration>
    <logicalmonitor>
      <x>0</x>
      <y>0</y>
      <scale>1</scale>
      <primary>yes</primary>
      <monitor>
        <monitorspec>
          <connector>{{ gdm_vbox_display_name[ansible_os_family] }}</connector>
          <vendor>unknown</vendor>
          <product>unknown</product>
          <serial>unknown</serial>
        </monitorspec>
        <mode>
          <width>{{ gdm_default_resolution_x }}</width>
          <height>{{ gdm_default_resolution_y }}</height>
          <rate>{{ gdm_default_refresh_rate }}</rate>
        </mode>
      </monitor>
    </logicalmonitor>
  </configuration>
</monitors>